name: CI Local Jenkins Trigger

on: 
  push:
    branches:
      - develop
  pull_request:
    branches:
      - master

jobs:
  trigger-jenkins:
    runs-on: self-hosted

    steps:
      - name: Trigger Jenkins job
        run: |
          CRUMB=$(curl -s -u admin:${{ secrets.JENKINS_API_TOKEN }} \
            'http://localhost:8080/crumbIssuer/api/xml?xpath=concat(//crumbRequestField,":",//crumb)')

          curl -X POST \
            -u admin:${{ secrets.JENKINS_API_TOKEN }} \
            -H "$CRUMB" \
            "http://localhost:8080/job/release-execution-platform/build?token=123"


